vendor/
node_modules/
admin/node_modules/
admin/dist/
storefront/node_modules/
storefront/dist/
.git/
.github/
.kubernetes/
!.docker/images/*/nginx.conf
.idea/
.vscode/
.fleet/
.zed/
.nova/
.phpunit.cache/
storage/logs/*
storage/pail/
tests/
*.log
.env
.env.backup
.env.production
.env.dusk.local
Homestead.json
Homestead.yaml
docker-compose.yml
phpunit.xml
