apiVersion: v1
kind: Secret
metadata:
  name: quicktane-secrets
  namespace: quicktane
  labels:
    app.kubernetes.io/part-of: quicktane
type: Opaque
stringData:
  APP_KEY: ""
  DB_PASSWORD: ""
  MEILISEARCH_MASTER_KEY: ""
  MARIADB_ROOT_PASSWORD: ""
